* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.download-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.download-section a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-section a:hover {
    background-color: #0056b3;
}
